@use "../../styles/variables/color";

.container{
  background-image: url(../../assets/home/mobile/image-header.jpg);
  height: 100vh;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 1em;
  gap: 1em;
  & p{
    max-width: 350px;
  }
}

.heading{
  color: color.$mainWhite;
}

@media(min-width: 768px){
  .container {
    background-image: url(../../assets/home/tablet/image-header.jpg);
  }
}

@media(min-width: 1440px){
  .container {
    background-image: url(../../assets/home/desktop/image-hero.jpg);
  }
}