@use "../../styles/variables/color";

.hero {
  min-height: 30vh;
  padding-top: 4em;
}

.heroContainer {
  background-color: color.$mainBlack;
  color: color.$mainWhite;
}

@media(min-width: 768px){
  .hero {
    padding-top: 9em;
    padding-bottom: 3em;
  }
}

@media(min-width: 1440px) {
  .heroContainer {
    height: 250px;
  }
}