@use './variables/fonts';
@use './variables/color';

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: fonts.$fontFamily;
  font-size: fonts.$fontRegular;
}
h1{
  font-size: fonts.$fontMobileHeaderOne;
  line-height: 3.625rem;
  letter-spacing: 2px;
}
h2{
  font-size: fonts.$fontMobileHeaderTwo;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
}
h3{
  font-size: fonts.$fontMobileHeaderThree;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
}
h4{
  font-size: fonts.$fontMobileHeaderFour;
  line-height: 2.375rem;
  letter-spacing: 2px;
}
h5{
  font-size: fonts.$fontMobileHeaderFive;
  line-height: 2.0625rem;
  letter-spacing: 1.7px;
}
h6{
  font-size: fonts.$fontMobileHeaderSix;
  line-height: 1.5rem;
  letter-spacing: 1.3px;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

p{
  color: color.$darkGray;
  line-height: 1.5625rem;
  font-size: fonts.$fontRegular;
}

.product-btn{
  width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: .2s background-color ease-in, 0.2s color ease-in;
}

.product-btn-orange{
  background-color: color.$mainOrange;
  color: color.$mainWhite;
  &:hover{
    background-color: color.$sideOrange;
  }
}

.product-btn-black{
  background-color: color.$mainBlack;
  color: color.$mainWhite;
  &:hover{
    background-color: #4C4C4C;
  }
}

.product-btn-bordered{
  color: color.$mainBlack;
  border: 2px solid color.$mainBlack;
  &:hover{
    background-color: color.$mainBlack;
    color: color.$mainWhite;
  }
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.overline{
  font-size: fonts.$fontOverline;
  line-height: 1.1875rem;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.hideIsOnEveryPage + section {
  display: none;
}

@media(min-width: 768px){
  h1 {font-size: fonts.$fontHeaderOne;}
  h2 {font-size: fonts.$fontHeaderTwo;}
  h3 {font-size: fonts.$fontHeaderThree;}
  h4 {font-size: fonts.$fontHeaderFour;}
  h5 {font-size: fonts.$fontHeaderFive;}
  h6 {font-size: fonts.$fontHeaderSix;}
}

@media(min-width: 1440px) {
  .product-page-container section:nth-child(even){
    flex-direction: row-reverse;
  }
}

