@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

$fontFamily: ‘Manrope’, sans-serif;
$fontHeaderOne: 3.5rem;
$fontHeaderTwo: 2.5rem;
$fontHeaderThree: 2rem;
$fontHeaderFour: 1.75rem;
$fontHeaderFive: 1.5rem;
$fontHeaderSix: 1.125rem;
$fontOverline: 0.875rem;
$fontSubtitle: 0.8125rem;
$fontRegular: 0.9375rem;