@use "../../styles/variables/color";

.section{
  flex-direction: column;
  text-align: center;
  padding-top: 3em;
  gap: 1em;
  & p:first-of-type{
    color: color.$mainOrange;
  }
  & p:last-of-type{
    color: color.$mainBlack;
    opacity: 0.5;
    max-width: 572px;
  }
}
.section img{
  width: 100%;
  border-radius: 8px;}

  @media(min-width: 768px) {
    .section {
      gap: 2em;
    & img {
      margin-top: 2em;
      width: 60%;
    }
    }
  }

  @media(min-width: 1440px) {
    section.section{
      flex-direction: row;
      justify-content: space-between;
      margin: 3em auto;
      & img{
        width: 40%;
      }
    }

    div.section {
      width: 40%;
      text-align: left;
      align-items: flex-start;
    }
  }