@use "../../styles/variables/color";

.footerContainer {
  background-color: black;
}

.container::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: color.$mainOrange;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2.5em 0;
  text-align: center;
  color: color.$mainWhite;
  gap: 2em;
  position: relative;
  & h2 {
    text-transform: lowercase;
  }
  & p {
    color: #979797;
    font-weight: bold;
  }
  & .footerText {
    color: #979797;
    line-height: 22px;
  }
}

a {
  color: white;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 500;
  transition: 0.25s color ease-in;
  &:hover {
    color: color.$mainOrange;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  gap: 1em;
justify-content: center;
  & svg {
    font-size: 26px;
    transition: 0.25s color ease-in;
    cursor: pointer;
  &:hover {
    color: color.$mainOrange;
  }
  }
}

@media(min-width:768px) {

  .container {
    text-align: start;
    &::after{
      transform: translateX(0);
      left: 0;
    }
  }

  .navbar {
    flex-direction: row;
    gap: 3em;
  }
  .icons{
    margin: 0;
  }

  .footerSubtext {
    display: flex;
    justify-content: space-between;
  }
}
