@use "../../styles/variables/color";

.container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  gap: 2em;
  & span {
    color: color.$sideOrange;
  }
  & p {
    color: #979797;
    margin-bottom: 4em;
  }
}

.container img {
  margin-top: 6em;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

